<h1>Listing All Article</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <span><%= article.title %></span> ||
      <span><%= article.content %></span> ||
      <%= link_to 'read more', article_path(article) %> ||
      <%= link_to 'Edit', edit_article_path(article) %>
    </li>
  <% end %>
</ul>
