<div class="ui attached segment">
  <h2>About</h2>

  <p>95年生, 性格奇葩, 不靠谱星人.</p>

  <p>感情经历空白, 至今连姑凉小手都没碰过. 现在觉得一个人也挺好(姑且算是一个单身狗的自我安慰吧.</p>
  
  <p>写代码全凭兴趣, 没有毅力, 所以至今还是个渣(跪</p>
  <p>沉迷二次元</p>
  <br>
  <a href="http://bangumi.tv/user/wall2flower"><img src="http://bangumi.tv/chart/img/222569" border="0" alt="wall2flower 的个人主页" /></a>
</div>
