div.ui.attached.segment
  h2 About
  p 95年生, 性格奇葩, 不靠谱星人.
  p 感情经历空白, 至今连姑凉小手都没碰过. 现在觉得一个人也挺好(姑且算是一个单身狗的自我安慰吧.
  p 写代码全凭兴趣, 没有毅力, 所以至今还是个渣(跪
  p 沉迷二次元, 喜欢看动画片的小学生, 打算看超过两遍的番有:「我的青春恋爱物语果然有问题」、「CLANNAD」、「冰菓」
  p 玩 Minecraft, 最喜欢的 MC 服务器是「喵窝」, 也搭了个自己的服(mc.goodguys.xyz), 目前长草中orz
  br
  a[href="http://bangumi.tv/user/wall2flower"]
    img src="http://bangumi.tv/chart/img/222569"
